 <section>
        <div class="container mt-5">
            <div class="row ">
                {{#each products}}
                <div class="column">
                    <div class="card ml-4" style="width: 15rem; height:24rem; ;align-items: center;">
                        <img class="card-img-top mt-2"
                            src="/product-images/{{this.product._id}}.jpg"
                            alt="Card image cap"
                             style="height:10rem; width:90%" >
                        <div class="card-body">
                            <h5 class="card-title">{{this.product.Name}}</h5>
                            <h5 class="card-title">Category:{{this.product.Category}}</h5>
                            <p class="card-text">{{this.product.Description}}</p>
                            <h5 class="card-title">{{this.product.price}}</h5>
                            {{!-- <a href="/add-to-cart?id={{this._id}}" class="btn btn-primary">ADD TO CART</a> --}}
                            {{!-- <button onclick="addToCart('{{this._id}}')"class="btn btn-primary">ADD TO CART</button> --}}
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
