
    
   <section style="background-color: #eee;">
  <div class=" headline text-center container py-5">
    {{!-- <h4 class="mt-4 mb-5 "><strong>Bestsellers</strong></h4> --}}

    <div class="row ">
        {{#each products}}
      <div class="col-lg-4 col-md-12 mb-4">
        
        <div class="card ">
            <div class="d-flex flex-lg-column flex-row  ">

          <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
            data-mdb-ripple-color="light">
            
            <img src="/product-images/{{this._id}}.jpg"
              class="w-100" />
            <a href="#!">
              <div class="mask">
                <div class="d-flex justify-content-start align-items-end h-100">
                  {{!-- <h5><span class="badge bg-primary ms-2">New</span></h5> --}}
                </div>
              </div>
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </div>
            </a>
          </div>
          <div class="card-body">
            <a href="" class="text-reset">
              <h5 class="card-title mb-3">{{this.Name}}</h5>
            </a>
            <a href="" class="text-reset">
              <p>{{this.Category}}</p>
            </a>
            <h6 class="mb-3">{{this.price}}</h6>
             <button onclick="addToCart('{{this._id}}')"class="btn btn-primary">ADD TO CART</button>
          </div>
         
        </div>
      </div>
      </div>
    {{/each}}
    </div>
  </div>
</section>
<script>
  ScrollReveal().reveal('.headline',
  {
    delay: 200,
    distance: '20px',
    origin: 'bottom'
  });
</script>